﻿@charset "utf-8";
/* CSS Document */




body{ /* Sets default font and background color of page */
	font-family: Tahoma, Geneva, sans-serif;
	padding: 0;
	margin: 0;
	background-color: white;
	background-position: -50% 0%;
	background-attachment:fixed;
}

.curriculumOverview_pdf{
	position:absolute;
	cursor:pointer;
}

.buildImage {
	width: 800px;
	height: 600px;}
.buildImage[bot=recbot]{background-image: url(img/RECbot.png);}
.buildImage[bot=squarebot4]{background-image: url(img/SquareBot.png);}
.buildImage[bot=ClawbotSens] {background-image: url(img/Clawbot.png);}
.buildImage[bot=swervebot] {background-image: url(img/SwerveBot.png);}

.buildDescription{
	width: 771px;
	padding: 0px 50px 10px 50px;
	font-family: 'futura_bk_btbook', Tahoma, Geneva, sans-serif ;
}
.Index_Description{
	width: 705px;
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 10px;
	padding-left: 90px;
	font-family: 'futura_bk_btbook', Tahoma, Geneva, sans-serif;
}


.clear-fix{  /* Forces parent div to wrap around child divs. Place on last line before div closes */
	clear: both;
	width: 100%;
}

.float { /* used to vertically align elements */
	float: right;
	height: 50%;
	width: 100%;
}

.middle { /* set parent to display:table to vertically center elements within this div  */
	display: table-cell;
	vertical-align: middle;
	border: 1px solid red;
	height: 100%;
}

.disclaimertext {
	font-family: 'futura_md_btmedium', Helvetica, sans-serif;
    text-align: center;
    color: #008e7d;
}

 /* xxxxxxxxxxxxxxxxx Lesson Content xxxxxxxxxxxxxxxxxxxxxx */

 .lesson_wrapper{ /* Sets content area of page. Area defined as white background in center of page that content lays over */
	background-color:white;
	width:871px;
	height:auto;
	margin: 0 auto;
}

.lesson-title-box{
	width:871;
	padding-left: 35.5px;
	padding-right: 35.5px;
	margin-bottom: 10px;
}

.lesson-title-box .challenge,
.lesson-title-box .upper{  /* Sets look of Lesson Title Text */
	color:#008e7e;
	font-family: 'futura_md_btmedium', Tahoma, Geneva, sans-serif;
	font-size: 3em;
	margin-top: 5px;

 /* border: 3px dotted teal; */
}

/* .lesson-title-box .lower{
	color:#666;
	font-family: 'futura_bk_btbook', Tahoma, Geneva, sans-serif;
	font-size: 2em;
	margin-top: 5px;
	margin-bottom: 5px;
} */


 .lesson_video{   /* defines area for lesson video player and content */
	width:835.5px;
	height:auto;
	padding-left: 35.5px;
	margin-bottom: 10px;
}
.lesson-video-box{
/*	border:1px solid red; */
}

.lesson-video-box > .video-right{
	float:right;
	margin-left: 0px;
	margin-right: 10px;
	margin-bottom: 20px;
	width: 460px; /*is fixed to allow word wrap*/
	/*240px is max possible with 960px wrapper*/

	font-size: 15px;
/*	border:1px solid green; */

}

.lesson-video-box .subtitle-right{
	display:block;
	text-align:right;
	font-size:14px;
	color:#666;

	padding:5px 0 0 0;

}

.video-right p{
	font-weight:bold;
	text-align:center;
	font-size:18px;

}




.lesson-video-box .list-wrap li{


	background-image:url(img/icon-lv.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;

	list-style:none;

	padding: 0px 10px 9px 50px;

	margin-left: 0px;
}





.lesson-video-box .link-wrap{
	margin-bottom: 40px; /*gap between "Topics Covered" and "Lesson Links"*/
	text-align:center;
}

.lesson-video-box .link-wrap img{
	vertical-align:bottom;
	display:inline-block;
	padding-bottom:32px;
}

.lesson-video-box .video-right .link-wrap a{
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 13px 0px 0px 60px;

	/*background-image:url(img/links_startingProgram.png);*/
	height: 55px; /*img height(68px) - topPadding*/
	width: 160px; /*img width(220px) - leftPadding*/

	text-align:center;
	text-decoration:none;
	color: #006;
}


.lesson-video-box .video-right .link-wrap a:hover{
	background-position: 0px -70px;
}


	/*link-wrap title and file name*/
	.lesson-video-box .video-right .link-wrap a > .type{
		display:block;
		height:33px;
		font-weight:bold;
	}

	.lesson-video-box .video-right .link-wrap a > .name{
		color:#06F;
		font-size:13px;
	}

	.lesson-video-box .video-right .link-wrap a:hover > .name{
	color: #038BFA;
	}

.lesson-video-box .video-right .link-wrap a.type-vr{
	background-image:url(img/links_VirtualRobot.png);
}

.lesson-video-box .video-right .link-wrap a.type-pr{
	background-image:url(img/links_PhysicalRobot.png);
}


.lesson-video-box > .video-right a > p{
	margin-top: 10px;
	font-weight: normal;
	font-size: 15px;
	color: #03F;
}

.lesson-video-box > .video-right a > p:hover{
	color: #0033FF;
}
/*.lesson-video-box > .video-right a > span{
	padding: 6px;
	display:inline-block;
	border:1px solid #EEE;

	background-color: #CFCFCF;
}*/

/* ---------------- Interactive Part --------------------- */

.lesson-problem-box{
	clear:both; /*without this the floating divs on the video box messes up*/

	margin-bottom:70px;
	background-color:white;
}

/*.........headers after the video..........*/
	.lesson-problem-box > .header,
	.lesson-challenge-box > .header{
		/*applies to all headers on top of each problem-box*/
		display: block;
		/*background-image: url(img/bg_boxHeader.png); */
		height: 60px; /*imgHeight(80px) - paddingTop*/
		/*border-bottom: 1px dotted #CCC;*/

		padding: 20px 0 0 30px;
		font-family:'futura_md_btbold', Tahoma, Geneva, sans-serif;
		color: #008e7d;
		font-size: 2em;
	}

	.lesson-problem-box > .header[type~="empty"],
	.lesson-challenge-box > .header[type~="empty"]{
		font-size:0;
		height:30px;
		background-image:url(img/bg_boxHeader3.png);
	}

	.lesson-problem-box > .header[type~="bar"],
	.lesson-challenge-box > .header[type~="bar"]{

		background-image:url(img/bg_boxHeader2.png);
	}




.folder{
	padding-left: 60px;

}

.folder ol li{
		margin-top: 40px;
		margin-bottom:10px;
		font-weight:bold;
		clear:both;
}

.folder li:first-child{
 /*effects first item of the sub list inside the main list*/
	margin-top:0px;
}

.folder ol > ol li{
	font-weight:normal;
	margin-top: 10px;
	list-style-type:lower-alpha;


}

.question-box{
	clear: both;} /*be safe little guy*/

.question-box li img{
	vertical-align:text-top;
	padding-left: 15px;
}

.question-box li{
	text-align:left;
	list-style-image:url(img/icon_Q.png);
	padding-right: 50px;
	font-family:'futura_md_btmedium', Tahoma, Geneva, sans-serif;
	font-size: 1.2em;
	list-style-image:url(img/QuestionIcon.png);
}

.question-box dt{
	font-family:'futura_bk_btbook',Tahoma, Geneva, sans-serif;
	font-size:1.2em;
}

.question-img-right {
	float: right;
	margin-bottom: 20px;
}

.question-text-left {
	float: left;
	max-width: 500px;
}

.question-img-left {
	float: left;
}


/* --------- end: interactive part -------------*/



#footer{	/* Defines footer area and style  */
	clear:both;
	height: 30px;/*95px (height of btn) + 20px("padding")*/
	width:871px;
	background-color:white;
	color:black;
	text-align:center;
	font-size:0.75em;
	padding-top: 10px;
	padding-bottom: 10px;
	margin:auto;
	font-family: Arial, Gadget, sans-serif;

 /* border: 2px dotted yellow; */
}

#footer span {
	font-family: 'futura_md_btbold' ,Arial, Helvetica, sans-serif;
}

#footer span span {
	color:#C00;
}

hr{ margin:auto; width:800px;}






/* xxxxxxxxxxxxxxxxxx >> Section Navigation Bar Content Below << xxxxxxxxxxxxxxxxxxxxxxxxxxxxx */



.s-nav_wrapper /* Sets Navigation Bar area and wraps all NavBar Content */
 {
	width: auto;
	height: auto;
	padding-bottom: 5px;
	display: block;
	background-image: url(img/bg_body2.png);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	color: white;

 /* border: 3px dotted black; */

}


.s-nav_button-wrapper
{
	width: 1040px;
	height: auto;
	margin: 0 auto;

/* border: 3px solid red; */
}

.s-nav_header  /* Sets colored bar under nav text */
{
	width: auto;
	height: 24px;
	background-color:#008e7d;
	margin: 0;
	display: block;

}


.s-nav_button-container  /* Contains each button's content */
{
	padding-top: 3.5px;
	width: 130px;
	height: auto;
	float: left;

 /* border: 3px dashed green; */
}

.s-nav_button-container a  /* Modifies look of Link Text */
	/* ### NOTE ###: If font size is adjusted, .s-nav_button-container width may need adjusted as well to compensate. */
{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 0.80em;
}

.s-nav_button-container br  /* Sets gap between the top of a Nav Button and the Nav Text. */
{
	margin-bottom:14px;
}

.s-nav_button-name  /* Sets gap between the top of a Nav Button and the Nav Text. */
{
	margin-bottom:10px;
	text-transform:uppercase;
}





/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxV Chapter Index Vxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.c-index_wrapper{
	padding: 0px 78px 100px 60px;
}

.c-index_toggleAll{
	margin-top: 20px;
	margin-right: 78px;
	margin-bottom: 40px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.c-index_toggleAll a{
	display:inline-block;
	float:right;
	width: 172px; /*bgWidth(162px) */
	height: 42px; /*bgHeight(42px)*/
	background-image:url(img/ExpandCollapse_all.png);
	text-indent: -9999px;
	background-position: 0px 0px;
}

.c-index_toggleAll a:hover{
	background-position: 0px -42px;
}

.c-index_toggleAll[isClicked=True] a{
	background-position: 0px -85px;
}

.c-index_toggleAll[isClicked=True] a:hover{
	background-position: 0px -127px;
}


.c-index_icon{
	width: 62px;
	height: 48px;
	float: left;
}

.c-index_wrapper span { /* styles Chapter Title */
	font-family: 'futura_md_btbold', Tahoma, Geneva, sans-serif;
	position: absolute;
	margin-left: 0px;
	padding-left: 15px;
	padding-top: 9px;
	font-size: 1.5em;
	color: white;
}

.c-index_chapter-box {margin-bottom: 2px;}


.c-index_clampBar { /* sets background image for chapter clamp bar */
	background-image: url(img/IconClampBar_Fundamentals.png);
	background-repeat: none;
	width: 731px;
	height: 48px;
	cursor:pointer;
	cursor: hand;
}

.c-index_closing-box {
}


.c-index_closing-box table {
	border-collapse:collapse;
}


.c-index_box {
	font-family: 'futura_md_btmedium', Tahoma, Geneva, sans-serif;
	font-size: 0.80em;
	width:520px;
	color:#666;
	padding: 5px 30px 5px 20px;
	border-right: 1px lightgrey solid;
	border-bottom: 1px lightgrey solid;
	background-image: url(img/ContentClamp_Fundamentals.png);
	background-repeat: no-repeat;
	background-position: left;

}

.c-index_drop{	 /* Sets DropClamp.png  */
	width: 64px;
	background-image: url(img/DropClamp_Fundamentals.png);
	background-repeat:repeat-y;
	background-position: right -2px;
	padding-left: 62px;
}



.c-index_footClamp {
	height: 46px;
	margin-left: 58px;
	margin-top: -1px;
	z-index: 1;
}

.c-index_closing-box tbody tr:first-child td:nth-child(2){ /* Removes Content Clamp from chapter intro box */
	background-image: none;
}

.c-index_box a{
	font-family: 'futura_md_btmedium', Tahoma, Geneva, sans-serif;
	font-size: 1.55em;
	text-decoration: none;
	color: #008e7d;
}

/* ------- toggle slider arrow --------*/
.c-index_drop-arrow{
	position: absolute;
	background-image:url(img/dropDown.png);

	margin-top: 15px;
	margin-left:690px;
	width: 27px;
	height: 19px; /*imgHeight(19px)*/

	cursor:pointer;
}

.c-index_clampBar:hover .c-index_drop-arrow{
	background-position:0px -19px;
}

.c-index_clampBar[isClicked=True] .c-index_drop-arrow{
	background-position:0px -38px;
}

.c-index_clampBar[isClicked=True]:hover .c-index_drop-arrow{
	background-position:0px -57px;
}


.c-index_spacer{ margin-top: 2px;} /* creates gap between chapters */









/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxV Lesson Header Vxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


.lesson-header-wrapper{
	height:63px;
	padding: 15px 0px 20px 25px; /*need top and bottom padding the same for BG*/
}


	/* ........lesson list box graphics...........*/

	.lesson-nav-box{
		font-size: 0px; /*removes extra space between div and span*/
		font-weight:bold;
	}

	.nav-box-left{
		float: left;

		width:71px; height: 49px; /*img(82 x 52px)*/
		background-image:url(img/IconClamp_orange.png);
	}

		.lesson-nav-box[hasList~=false] .nav-box-left{
			background-image:url(img/lesson-green-nav-bg-left-noList.png);}

	.nav-box-middle{
		float:left;

		height:49px;
		background-image:url(img/nav-orange-box-middle.png);
		background-repeat:repeat;
	}
		.lesson-nav-box[hasList~=false] .nav-box-middle{
			background-image:url(img/lesson-green-nav-bg-middle-noList.png);}


	.nav-box-right{
		float:left;

		width:11px; height: 49px; /*img(11 x 52px)*/
		background-image:url(img/nav-orange-box-right.png);
	}






	/* ........lesson list box contents [mostly in .nav-box-MIDDLE]...........*/


	.nav-box-middle span{ /*general text element in the page list*/
		font-size:15px;
		font-size: 18px;
		color: #C17D00;
	}

	.nav-box-middle .nav-title{
		display: inline-block;
		/*padding-top*/ /*set in .nav-box-middle ul li*/
		margin: 0px 15px 0px 10px;
		text-: 0px 1px 0px #ffffff;

	}
		.lesson-nav-box[hasList~=false] .nav-title{
			display: inline-block;

			background-repeat:no-repeat;
			background-position:0 -50px;
			margin: 24px 14px 0px -9px;
			padding:12px 0 0 60px;
			height: 38px;

			text-: 0px 1px 0px #ffffff;

			border:0px solid;
		}

	.nav-box-middle ul{
		display:inline-block;
		list-style:none;
		padding:0; /*removes indentation*/
		margin:0; /*removes spacing*/

	}
	.nav-box-middle ul li{ /*page <li> element*/
		display:inline-block;
		height:80px;
		padding-top:15px;
		font-family: 'futura_md_btbold', Tahoma, Geneva, sans-serif;

	}

	.nav-box-middle ul span{ /*page spacer between <li> elements*/
		display:inline-block;
		width:10px;
	}

	.nav-box-middle ul li a{
		text-decoration:none;
		background-color:white;

		padding: 2px 8px 2px 8px;
		color: #C17D00;

		font-size: 16px;
		text-decoration:none;
		color:#black;

		border: 3px solid #FF8400;
		border-radius:5px;

	}

	.nav-box-middle ul li a:hover{
		color:#F90;
	}

	.nav-box-middle ul li:first-child a{
		background-image:none;
	}

/*for special list item*/
.nav-box-middle ul li.mini{
	background-image:url(img/strand-green-lesson-mini-list.png);
	height: 30px;
	/*display:inline-block;*/
}

.nav-box-middle ul li.mini a{
	display:inline-block;
	background-image:url(img/divider.png);
	background-repeat: no-repeat;
	padding: 3px 0px 0px 0px;

	height: 21px; /*hit box height*/
	width:31px;
	text-align:center;

	font-size: 15px;
	letter-spacing: -1px;


	text-decoration:none;
	/*color:#333;*/ /*this overrides .current style, so removing it*/
}


.nav-box-middle ul li.mini a:hover{
	background-color: #E5E5E5;
	color:#090;
}



.nav-box-middle ul li.current a{ /*this is on the <a> element*/
	background-color: #FF8400;
	font-weight: bold;
	color: white;
	text-: 0px 0px 10px #fff;

	pointer-events: none;
	cursor: default;
}

.nav-box-middle ul li.current {
	/*extra triangular marker to show current page num*/
	background-image: url(img/nav-orange-list-curr.png);
	background-repeat:no-repeat;
	background-position: 50% 0;
}


	/*special type*/
	.nav-box-middle ul li[type="bulb"]{
			display:inline-block;
			text-align:center;
			background-color:transparent;
			background-image:url(img/list-bigIdea.png);
			width:24px;
			height:25px;

			vertical-align:central;
			padding: 3px 0px 0px 0px;
	}
	.nav-box-middle ul li[class="current"][type="bulb"]{
			background-image:url(img/list-bigIdea-orange.png);
	}

	.nav-box-middle ul li[type="bulb"] a,
	.nav-box-middle ul li[class="current"][type="bulb"] a{

			background-color:transparent;
			border:0px;
	}






#header_fund{ /* Sets Fundamentals section lesson header image and size */
	background-image: url(img/Fund_header.png);
	width:871px;
	height:80px;
	margin:auto;

 /* border: 3px dotted orange; */

}


#header_setup{ /* Sets Fundamentals section lesson header image and size */
	background-image: url(img/Setup_header.png);
	width:871px;
	height:80px;
	margin:auto;
}


#header_movement{ /* Sets Fundamentals section lesson header image and size */
	background-image: url(img/Movement_header.png);
	width:871px;
	height:80px;
	margin:auto;
}


#header_rc{ /* Sets Fundamentals section lesson header image and size */
	background-image: url(img/RC_header.png);
	width:871px;
	height:80px;
	margin:auto;
}


#header_sensing{ /* Sets Fundamentals section lesson header image and size */
	background-image: url(img/Sensing_header.png);
	width:871px;
	height:80px;
	margin:auto;
}

#header_engg{ /* Sets Fundamentals section lesson header image and size */
	background-image: url(img/Engg_header.png);
	width:871px;
	height:80px;
	margin:auto;
}

.lesson-exit-box{
	margin-top: 15px;
	margin-right: 33px;
}
.lesson-exit-box a{
	float:right;
	display:inline-block;

	background-image:url(img/exit.png);
	width: 86px; /*bgWidth(87px) */
	height: 42px; /*bgHeight(38px)*/

	margin-top: -15px; /*pull*/

	text-indent: -9999px;
	background-position: 0px 0px;
}

.lesson-exit-box a:hover{
	background-position: 0px -41px;

}



/* xxxxxxxxxxxxxxxxxxxxxxxxxxx >> Lesson PDF Content << xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */



.pdf-link_wrapper /* Defines area for PDF link buttons to live */
{
	display: table;
	width: 819px; /* 871px - padding(L+R) = width */
	height: auto;
	margin-bottom: 50px;
	padding-left: 37px;
	padding-right: 15px;
	font-family: 'futura_md_btmedium',Tahoma, Geneva, sans-serif;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
 /* border: 3px solid red; */
}

.pdf_button-container{ /* Defines area where PDF button content lives */
	float: left;
	height: 110px;
	margin: 39px 5px 25px 0px;
	cursor: pointer;
	cursor: hand;
}

/* .pdf_button-container:hover {
	text-: 0 0 3px #FC0;
} */

.pdf-button{
	height: 108px;
	width: 108px;
	background-image: url(img/Fundamentals_pdf.png);
}

.pdf-button:hover{
	background-image: url(img/Fundamentals_pdf_R.png);
}

.pdf-name{
	width: 133px;
	vertical-align:top;
	line-height: 2px;
	font-family: 'futura_md_btmedium' ,Tahoma, Geneva, sans-serif;
	color:#666;}

.pdf-page_main-box {
	width: 859px;
	padding-left: 12px;
}

.pdf-link_wrapper-small{
	width: 790px; /* 871px - padding(L+R) = width */
	margin: 0 auto;
	margin-bottom: 150px;
	padding-left: 50px;
	padding-right: 30px;
	font-family: 'futura_md_btmedium',Tahoma, Geneva, sans-serif;
	font-size: 0.85em;
}


.pdf-link_wrapper-small .pdf_button-container{
	height:80px;
	float: left;
	margin:10px 8px 10px 0px;
	cursor: pointer;
	cursor: hand;

}

.pdf-link_wrapper-small .pdf_button-container:hover {
	text: 0 0 3px #FC0;
}

.pdf-link_wrapper-small .pdf-button {
	height: 56px;
	width: 56px;
	background-size: 56px 56px;
}

.pdf-link_wrapper-small .pdf-name{
	width: 120px;
	vertical-align:top;
	line-height: 2px;
	font-family: 'futura_md_btmedium' ,Tahoma, Geneva, sans-serif;
	color:#666;
}

.pdf-page_main-box .pdf-link_wrapper{
	margin-bottom: 20px;
}

.pdf-page_main-box .pdf_button-container{
	margin: 5px 5px 10px 0px;
}


			/* ------------ PDF Content Box-------------- */

		.content-box {
			border: 2px solid lightgrey;
			border-radius: 15px;
			padding-top:10px;
			padding-bottom: 5px;
			float:left;
			margin-right:15px;
			text-align:center;
		}

		.content-box a{text-decoration:none;}

		.content-box .content-title{
			width: 227px;
			font-family: 'futura_md_btmedium', Tahoma, Geneva, sans-serif;
			color: gray;
			font-size:1.2em;
			padding-left: 5px;
			padding-right: 5px;
			cursor:default;
		}

		.content-box .pdf-button{
			margin-bottom: 12px;
		}

		.content-box table{
			margin-right: 5px;
		}

		.content-vr {
			background-image:url(http://cmra.rec.ri.cmu.edu/products/cortex_video_trainer/lesson/img/VirtualPrgm.png);
			width: 100px;
			height: 58px;
			float: left;
			cursor: pointer;}
		.content-vr:hover{
			background-image: url(http://cmra.rec.ri.cmu.edu/products/cortex_video_trainer/lesson/img/VirtualPrgm_R.png);}

		.content-vr a{
			display:block;
			height:100%;
		}

		.content-pr a{
			display:block;
			height:100%;
		}

		.content-pr {
			background-image:url(http://cmra.rec.ri.cmu.edu/products/cortex_video_trainer/lesson/img/PhysicalPrgm.png);
			width: 100px;
			height: 58px;
			cursor: pointer;}
		.content-pr:hover {
			background-image: url(http://cmra.rec.ri.cmu.edu/products/cortex_video_trainer/lesson/img/PhysicalPrgm_R.png);}




/* xxxxxxxxxxxxxxxxxxxxxxxxxxxV Refference Video Drops Vxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
	/* #NOTE: The names used in this content are from the VEQ IQ curriculum. Any time you see .tryit, it will refer to refference video content. */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxV                        Vxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.tryit-checkresult{
	padding-left: 35px;
	padding-bottom:20px;
	width: 871px;
	margin: 0 auto;
}

.tryit-checkresult .ref-box{
	padding-bottom: 15px;
}

.checkBtn {
	width: 152px; /* 172px(img)-20px(pad) */
	height: 26px; /* 68px(img)-42px(pad) */
	background-image: url(img/ReferenceVideo_drop.png);
	padding: 42px 0px 0px 20px;
	cursor: pointer;}

.checkBtn:hover {background-position: 0px -72px;}

.checkBtn-clicked{
	width: 152px; /* 172px(img)-20px(pad) */
	height: 26px; /* 68px(img)-42px(pad) */
	background-image: url(img/ReferenceVideo_drop.png);
	padding: 42px 0px 0px 20px;
	background-position:0px -144px;
	cursor: pointer;}
.checkBtn-clicked:hover{background-position:0px -216px;}

.checkBtn span,
.checkBtn-clicked span{
	text-align: center;
	color: grey;}



/* xxxxxxxxxxxxxxxxxxxxxxxxxxxV Next-Previous Buttons Vxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

				    /* Adapted from ROBOTC EV3 Curriculum lesson.CSS */




.lesson-footer-box{  /* Sets area for Next/Prev buttons in footer */
	clear:both;
	font-family: 'futura_md_btmedium', Helvetica, sans-serif;
	text-align:center;
	color:#008e7d;
	margin: 0 auto;
	width: 871px;
}


.lesson-footer-box > span{ /* sets height of Next/Prev area */
	height:42px;
	line-height: 42px;
	margin-bottom: 2px;
	/*these two properties prep for text-vertical alignment*/
	/*affects prev-lesson-btn > lesson-titles*/
}

.next-lesson-btn{
	display:inline-block;
	text-align:left;
	width:431px;
}


.next-lesson-btn a{
	display:inline-block;

	width:86px; /*imgWidth(86px)*/
	height:42px; /*imgheight(42px)*/
	margin-right: 5px;

	background-image:url(img/next_orange.png);
	background-repeat:no-repeat;
	background-position: -1px 0px;
}

.next-lesson-btn a:hover{
	background-position: -1px -42px;
}




.prev-lesson-btn{
	display:inline-block;
	text-align:right;
	width:431px;
}


.prev-lesson-btn a{
	display:inline-block;

	width:86px; /*imgWidth(86px)*/
	height:42px; /*imgheight(42px)*/
	margin-left: 5px;

	background-image:url(img/prev_orange.png);
	background-repeat:no-repeat;
	background-position: 1px 0px;

}

.prev-lesson-btn a:hover{
	background-position: 1px -42px;}

/*this is used if xml parser changes the next button into exit lesson button*/
.next-lesson-btn-end{ float:right; margin-top:-25px;}
.next-lesson-btn-end a{
	display: inline-block;
	margin:0px 30px 0 0;
	text-decoration: none;
	font-size: 0px;

	width: 159px; /*imgWidth(205px)*/
	height: 77px; /*imgheight(77px)*/
	background-image: url(img/nav-orange-complete-btn.png);
	background-repeat: no-repeat;
	background-position: 0 0;

	color: #5A2403;
}

.next-lesson-btn-end a:hover{
	background-position: 0 -77px;
	color:#8C3B00;
}

	/*some shared properties*/
	.prev-lesson-btn a,
	.next-lesson-btn a{
		vertical-align: middle;
	}

	.next-lesson-btn .lesson-title,
	.prev-lesson-btn .lesson-title{
		display:inline-block;
		width:340px; /*must be fixed for really long titles*/
		vertical-align: middle;
		line-height: normal;
	}

	/*some special cases, like gray'd-out versions, etc*/
	.prev-lesson-btn[hasPrev~=False]{
		color:transparent;
	}
	.prev-lesson-btn[hasPrev~=False] a{ /*no previous lesson*/

		background-position: 0px -84px;
		background-repeat:no-repeat;

		pointer-events: none;
		cursor: default;
	}

	.prev-lesson-btn[prev=False]{ /*maually add attribute */
		color:transparent;
	}
	.prev-lesson-btn[prev=False] a{ /*no previous lesson*/

		background-position: 0px -84px;
		background-repeat:no-repeat;

		pointer-events: none;
		cursor: default;
	}

	.next-lesson-btn[hasNext~=False]{
		color:transparent;
	}
	.next-lesson-btn[hasNext~=False] a{ /*no next lesson*/

		background-position: 0px -84px;
		background-repeat:no-repeat;

		pointer-events: none;
		cursor: default;
	}

	.next-lesson-btn[next=False]{ /*maually add attribute */
		color:transparent;
	}
	.next-lesson-btn[next=False] a{ /*no next lesson*/

		background-position: 0px -84px;
		background-repeat:no-repeat;

		pointer-events: none;
		cursor: default;
	}



.footer-wrapper{
	clear: both;

	margin: 0px 30px 0px 30px;
	padding: 10px 30px 40px 30px;
	text-align:center;
	font-size:12px;
	border-top: 1px solid #999;
	color:#666;
}

/* --------------- footer end --------------------*/


/* --------------- Reference Page ----------------*/
.ref_wrapper {
	width:1500px;
	height:auto;
	margin: 0px auto;
}

.ref_table {
	/* padding-left:100px; */
	font-family: Arial, Helvetica, sans-serif;
}

.ref_table td{
	width: 428px;
/* border: 1px solid blue; */
	vertical-align:top;
}

.ref_table a:link{
	color:#C60;
	background-color:transparent;
	text-decoration:none
}

.ref_table a:visited{
	color:#639;
}

.ref_table a:hover{
	color:#C00;
}

.ref_SectionTitle{
	font-weight: bold;
	color:#900;
	font-size: 1.25em;
	margin-bottom: -10px;
}
.ref_table ol li{
	font-size: 0.95em;
	margin-top: -10px;
}



/* xxxxxxxxxxxxxxxxxxxxxxxxxxxV Color Attributes Vxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* Note: default color is ORANGE.
         So color orange is not separately defined */

/* NOTE FOR TOM: [colorAttr~=colorName] <- make sure color name match to the name appear in XML*/


/*..........TORQUOIS............*/

body[colorAttr=blue] .c-index_clampBar{
	background-image: url(img/IconClampBar_Fundamentals.png);
	background-repeat: none;}
body[colorAttr=blue] .c-index_drop{
	background-image: url(img/DropClamp_Fundamentals.png);
	background-repeat:no-repeat;}
body[colorAttr=blue] .c-index_box{ /* sets ContentClamp img */
	background-image: url(img/ContentClamp_Fundamentals.png);
	background-repeat:no-repeat;}
body[colorAttr=blue] .c-index_footClamp{
	background-image: url(img/FootClamp_Fundamentals.png);
	background-repeat:no-repeat;}

body[colorAttr=blue] .nav-box-left{ /*left clamp image*/
	background-image:url(img/IconClamp_blue.png);}
body[colorAttr=blue] .nav-box-middle .nav-title{ /*title*/
	color:#00AAD8;}
body[colorAttr=blue] .nav-box-middle ul li a{ /*<li>*/
	color:#00AAD8;
	border: 3px solid #00AAD8;}
body[colorAttr=blue] .nav-box-middle ul li a:hover{ /*<li> hover*/
	color:#24CEFF;}
body[colorAttr=blue] .nav-box-middle ul li.current a{ /*your current <li>*/
	color:white;
	background-color: #00AAD8;}

body[colorAttr=blue] .challenge{
	background-image: url(img/Fundamentals_Challenge.png);
	background-repeat:no-repeat;}
body[colorAttr=blue] .challenge-pdf{
	background-image: url(img/Fundamentals_Challenge_R.png);
	background-repeat:no-repeat;}

body[colorAttr=blue] .pdf-button{
	background-image: url(img/Fundamentals_pdf.png);
	background-repeat:no-repeat;}
body[colorAttr=blue] .pdf-button:hover{
	background-image: url(img/Fundamentals_pdf_R.png);
	background-repeat:no-repeat;}

body[colorAttr=blue] .pdf-Eng{
	background-image: url(img/Fundamentals_Engg.png);
	background-repeat:no-repeat;}
body[colorAttr=blue] .pdf-Eng:hover{
	background-image: url(img/Fundamentals_Engg_R.png);
	background-repeat:no-repeat;}

body[colorAttr=blue] .pdf-link_wrapper-small .pdf-button{
	background-image: url(img/Fundamentals_pdf.png);
	background-repeat:no-repeat;}
body[colorAttr=blue] .pdf-link_wrapper-small .pdf-button:hover{
	background-image: url(img/Fundamentals_pdf_R.png);
	background-repeat:no-repeat;}


body[colorAttr=blue] .prev-lesson-btn a{ /*prev btn*/
	background-image:url(img/prev_blue.png);}
body[colorAttr=blue] .next-lesson-btn a{ /*next btn*/
	background-image:url(img/next_blue.png);}


/*...........GREY.............. */

body[colorAttr=grey] .c-index_clampBar{
	background-image: url(img/IconClampBar_Setup.png);
	background-repeat: none;}
body[colorAttr=grey] .c-index_drop{
	background-image: url(img/DropClamp_Setup.png);
	background-repeat:no-repeat;}
body[colorAttr=grey] .c-index_box{ /* sets ContentClamp img */
	background-image: url(img/ContentClamp_Setup.png);
	background-repeat:no-repeat;}
body[colorAttr=grey] .c-index_footClamp{
	background-image: url(img/FootClamp_Setup.png);
	background-repeat:no-repeat;}

body[colorAttr=grey] .nav-box-left{ /*left clamp image*/
	background-image:url(img/IconClamp_grey.png);}
body[colorAttr=grey] .nav-box-middle .nav-title{ /*title*/
	color:#A0A0A0;}
body[colorAttr=grey] .nav-box-middle ul li a{ /*<li>*/
	color:#A0A0A0;
	border: 3px solid #A0A0A0;}
body[colorAttr=grey] .nav-box-middle ul li a:hover{ /*<li> hover*/
	color:#24CEFF;}
body[colorAttr=grey] .nav-box-middle ul li.current a{ /*your current <li>*/
	color:white;
	background-color: #A0A0A0;}

body[colorAttr=grey] .pdf-button[type=ch]{
	background-image: url(img/Setup_Challenge.png);
	background-repeat:no-repeat;}
body[colorAttr=grey] .pdf-button[type=ch]:hover{
	background-image: url(img/Setup_Challenge_R.png);
	background-repeat:no-repeat;}

body[colorAttr=grey] .pdf-button{
	background-image: url(img/Setup_pdf.png);
	background-repeat:no-repeat;}
body[colorAttr=grey] .pdf-button:hover{
	background-image: url(img/Setup_pdf_R.png);
	background-repeat:no-repeat;}

body[colorAttr=grey] .pdf-button[type=eng]{
	background-image: url(img/Setup_Engg.png);
	background-repeat:no-repeat;}
body[colorAttr=grey] .pdf-button[type=eng]:hover{
	background-image: url(img/Setup_Engg_R.png);
	background-repeat:no-repeat;}

body[colorAttr=grey] .pdf-link_wrapper-small .pdf-button{
	background-image: url(img/Setup_pdf.png);
	background-repeat:no-repeat;}
body[colorAttr=grey] .pdf-link_wrapper-small .pdf-button:hover{
	background-image: url(img/Setup_pdf_R.png);
	background-repeat:no-repeat;}

body[colorAttr=grey] .prev-lesson-btn a{ /*prev btn*/
	background-image:url(img/prev_grey.png);}
body[colorAttr=grey] .next-lesson-btn a{ /*next btn*/
	background-image:url(img/next_grey.png);}

/*...........ORANGE.............. */

body[colorAttr=orange] .c-index_clampBar{
	background-image: url(img/IconClampBar_Movement.png);
	background-repeat: none;}
body[colorAttr=orange] .c-index_drop{
	background-image: url(img/DropClamp_Movement.png);}
body[colorAttr=orange] .c-index_box{ /* sets ContentClamp img */
	background-image: url(img/ContentClamp_Movement.png);
	background-repeat:no-repeat;}
body[colorAttr=orange] .c-index_footClamp{
	background-image: url(img/FootClamp_Movement.png);
	background-repeat:no-repeat;}

body[colorAttr=orange] .nav-box-left{ /*left clamp image*/
	background-image:url(img/IconClamp_orange.png);}
body[colorAttr=orange] .nav-box-middle .nav-title{ /*title*/
	color:#FF8400;}
body[colorAttr=orange] .nav-box-middle ul li a{ /*<li>*/
	color:#FF8400;
	border: 3px solid #FF8400;}
body[colorAttr=orange] .nav-box-middle ul li a:hover{ /*<li> hover*/
	color:#24CEFF;}
body[colorAttr=orange] .nav-box-middle ul li.current a{ /*your current <li>*/
	color:white;
	background-color: #FF8400;}

body[colorAttr=orange] .pdf-button[type=ch]{
	background-image: url(img/Movement_Challenge.png);
	background-repeat:no-repeat;}
body[colorAttr=orange] .pdf-button[type=ch]:hover{
	background-image: url(img/Movement_Challenge_R.png);
	background-repeat:no-repeat;}

body[colorAttr=orange] .pdf-button{
	background-image: url(img/Movement_pdf.png);
	background-repeat:no-repeat;}
body[colorAttr=orange] .pdf-button:hover{
	background-image: url(img/Movement_pdf_R.png);
	background-repeat:no-repeat;}

body[colorAttr=orange] .pdf-button[type=eng]{
	background-image: url(img/Movement_Engg.png);
	background-repeat:no-repeat;}
body[colorAttr=orange] .pdf-button[type=eng]:hover{
	background-image: url(img/Movement_Engg_R.png);
	background-repeat:no-repeat;}

body[colorAttr=orange] .pdf-link_wrapper-small .pdf-button{
	background-image: url(img/Movement_pdf.png);
	background-repeat:no-repeat;}
body[colorAttr=orange] .pdf-link_wrapper-small .pdf-button:hover{
	background-image: url(img/Movement_pdf_R.png);
	background-repeat:no-repeat;}

body[colorAttr=orange] .prev-lesson-btn a{ /*prev btn*/
	background-image:url(img/prev_orange.png);}
body[colorAttr=orange] .next-lesson-btn a{ /*next btn*/
	background-image:url(img/next_orange.png);}

/*...........BLACK.............. */

body[colorAttr=black] .c-index_clampBar{
	background-image: url(img/IconClampBar_RC.png);
	background-repeat: none;}
body[colorAttr=black] .c-index_drop{
	background-image: url(img/DropClamp_RC.png);}
body[colorAttr=black] .c-index_box{ /* sets ContentClamp img */
	background-image: url(img/ContentClamp_RC.png);
	background-repeat:no-repeat;}
body[colorAttr=black] .c-index_footClamp{
	background-image: url(img/FootClamp_RC.png);
	background-repeat:no-repeat;}

body[colorAttr=black] .nav-box-left{ /*left clamp image*/
	background-image:url(img/IconClamp_black.png);}
body[colorAttr=black] .nav-box-middle .nav-title{ /*title*/
	color:#6F6F6F;}
body[colorAttr=black] .nav-box-middle ul li a{ /*<li>*/
	color:#6F6F6F;
	border: 3px solid #6F6F6F;}
body[colorAttr=black] .nav-box-middle ul li a:hover{ /*<li> hover*/
	color:#24CEFF;}
body[colorAttr=black] .nav-box-middle ul li.current a{ /*your current <li>*/
	color:white;
	background-color: #6F6F6F;}

body[colorAttr=black] .pdf-button[type=ch]{
	background-image: url(img/RC_Challenge.png);
	background-repeat:no-repeat;}
body[colorAttr=black] .pdf-button[type=ch]:hover{
	background-image: url(img/RC_Challenge_R.png);
	background-repeat:no-repeat;}

body[colorAttr=black] .pdf-button{
	background-image: url(img/RC_pdf.png);
	background-repeat:no-repeat;}
body[colorAttr=black] .pdf-button:hover{
	background-image: url(img/RC_pdf_R.png);
	background-repeat:no-repeat;}

body[colorAttr=black] .pdf-button[type=eng]{
	background-image: url(img/RC_Engg.png);
	background-repeat:no-repeat;}
body[colorAttr=black] .pdf-button[type=eng]:hover{
	background-image: url(img/RC_Engg_R.png);
	background-repeat:no-repeat;}

body[colorAttr=black] .pdf-link_wrapper-small .pdf-button{
	background-image: url(img/RC_pdf.png);
	background-repeat:no-repeat;}
body[colorAttr=black] .pdf-link_wrapper-small .pdf-button{
	background-image: url(img/RC_pdf_R.png);
	background-repeat:no-repeat;}

body[colorAttr=black] .prev-lesson-btn a{ /*prev btn*/
	background-image:url(img/prev_black.png);}
body[colorAttr=black] .next-lesson-btn a{ /*next btn*/
	background-image:url(img/next_black.png);}

/*...........INDIGO.............. */

body[colorAttr=indigo] .c-index_clampBar{
	background-image: url(img/IconClampBar_Sensing.png);
	background-repeat: none;}
body[colorAttr=indigo] .c-index_drop{
	background-image: url(img/DropClamp_Sensing.png);}
body[colorAttr=indigo] .c-index_box{ /* sets ContentClamp img */
	background-image: url(img/ContentClamp_Sensing.png);
	background-repeat:no-repeat;}
body[colorAttr=indigo] .c-index_footClamp{
	background-image: url(img/FootClamp_Sensing.png);
	background-repeat:no-repeat;}

body[colorAttr=indigo] .nav-box-left{ /*left clamp image*/
	background-image:url(img/IconClamp_indigo.png);}
body[colorAttr=indigo] .nav-box-middle .nav-title{ /*title*/
	color:#353897;}
body[colorAttr=indigo] .nav-box-middle ul li a{ /*<li>*/
	color:#353897;
	border: 3px solid #353897;}
body[colorAttr=indigo] .nav-box-middle ul li a:hover{ /*<li> hover*/
	color:#24CEFF;}
body[colorAttr=indigo] .nav-box-middle ul li.current a{ /*your current <li>*/
	color:white;
	background-color: #353897;}

body[colorAttr=indigo] .pdf-button[type=ch]{
	background-image: url(img/Sensing_Challenge.png);
	background-repeat:no-repeat;}
body[colorAttr=indigo] .pdf-button[type=ch]:hover{
	background-image: url(img/Sensing_Challenge_R.png);
	background-repeat:no-repeat;}

body[colorAttr=indigo] .pdf-button{
	background-image: url(img/Sensing_pdf.png);
	background-repeat:no-repeat;}
body[colorAttr=indigo] .pdf-button:hover{
	background-image: url(img/Sensing_pdf_R.png);
	background-repeat:no-repeat;}

body[colorAttr=indigo] .pdf-button[type=eng]{
	background-image: url(img/Sensing_Engg.png);
	background-repeat:no-repeat;}
body[colorAttr=indigo] .pdf-button[type=eng]:hover{
	background-image: url(img/Sensing_Engg_R.png);
	background-repeat:no-repeat;}

body[colorAttr=indigo] .pdf-link_wrapper-small .pdf-button{
	background-image: url(img/Sensing_pdf.png);
	background-repeat:no-repeat;}
body[colorAttr=indigo] .pdf-link_wrapper-small .pdf-button:hover{
	background-image: url(img/Sensing_pdf_R.png);
	background-repeat:no-repeat;}

body[colorAttr=indigo] .prev-lesson-btn a{ /*prev btn*/
	background-image:url(img/prev_indigo.png);}
body[colorAttr=indigo] .next-lesson-btn a{ /*next btn*/
	background-image:url(img/next_indigo.png);}

/*----------------- Red -----------------*/

body[colorAttr=red] .c-index_clampBar{
	background-image: url(img/IconClampBar_Engg.png);
	background-repeat: none;}
body[colorAttr=red] .c-index_drop{
	background-image: url(img/DropClamp_Engg.png);}
body[colorAttr=red] .c-index_box{ /* sets ContentClamp img */
	background-image: url(img/ContentClamp_Engg.png);
	background-repeat:no-repeat;}
body[colorAttr=red] .c-index_footClamp{
	background-image: url(img/FootClamp_Engg.png);
	background-repeat:no-repeat;}

body[colorAttr=red] .nav-box-left{ /*left clamp image*/
	background-image:url(img/IconClamp_Engg.png);}
body[colorAttr=red] .nav-box-middle .nav-title{ /*title*/
	color:#6F6F6F;}
body[colorAttr=red] .nav-box-middle ul li a{ /*<li>*/
	color:#AA3535;
	border: 3px solid #AA3535;}
body[colorAttr=red] .nav-box-middle ul li a:hover{ /*<li> hover*/
	color:#24CEFF;}
body[colorAttr=red] .nav-box-middle ul li.current a{ /*your current <li>*/
	color:white;
	background-color: #AA3535;}

body[colorAttr=red] .pdf-button[type=ch]{
	background-image: url(img/Engg_Challenge.png);
	background-repeat:no-repeat;}
body[colorAttr=red] .pdf-button[type=ch]:hover{
	background-image: url(img/Engg_Challenge_R.png);
	background-repeat:no-repeat;}

body[colorAttr=red] .pdf-button{
	background-image: url(img/Engg_pdf_R.png);
	background-repeat:no-repeat;}
body[colorAttr=red] .pdf-button:hover{
	background-image: url(img/Engg_pdf.png);
	background-repeat:no-repeat;}

body[colorAttr=red] .pdf-button[type=eng]{
	background-image: url(img/Engg_Engg.png);
	background-repeat:no-repeat;}
body[colorAttr=red] .pdf-button[type=eng]:hover{
	background-image: url(img/Engg_Engg_R.png);
	background-repeat:no-repeat;}

body[colorAttr=red] .pdf-link_wrapper-small .pdf-button{
	background-image: url(img/Engg_pdf_R.png);
	background-repeat:no-repeat;}
body[colorAttr=red] .pdf-link_wrapper-small .pdf-button:hover{
	background-image: url(img/Engg_pdf.png);
	background-repeat:no-repeat;}

body[colorAttr=red] .prev-lesson-btn a{ /*prev btn*/
	background-image:url(img/prev_red.png);}
body[colorAttr=red] .next-lesson-btn a{ /*next btn*/
	background-image:url(img/next_red.png);}


/*...........GREEN.............. */
body[colorAttr=green] .next-lesson-btn a{
	background-image: url(img/next_green.png);}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/* end */
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
